.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.addTripPopUp {
  width: 80%;
  max-width: 450px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.modalHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  margin-bottom: 40px;
}
.modalCloseBtn {
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}

.modalCloseBtn:hover,
.modalCloseBtn:active {
  color: #1890ff;
}

.modalHeader::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999ca3;
}
