*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
  font-family: Assistant, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: #6C6D6E ;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* button {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
} */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}